<div
  class="toolbar"
  role="banner"
>
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome to Books Store</span>
  <div class="spacer"></div>
  <a
    aria-label="Angular on twitter"
    target="_blank"
    rel="noopener"
    href="https://twitter.com/angular"
    title="Twitter"
  >
    <i class="fab fa-github fa-10x"></i>
  </a>

</div>
<div style="height: 65px;"></div>
<div>
  <p-table
    #dt
    [value]="booksList"
    dataKey="id"
    styleClass="ui-table-books"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="['bookName','authorName','totalPage','price']"
  >
    <ng-template pTemplate="caption">
      List of Books
      <div class="ui-table-globalfilter-container">
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Global Search"
          class="form-control"
        />
      </div>
      <div style="margin-top: 20px">
        <p-button
          label="Add Book"
          icon="pi pi-check"
          iconPos="left"
          (click)="showNewBookModal($event)"
        ></p-button>
        <div style="float: right;">
          <p-button
            label="Refresh"
            icon="pi pi-refresh"
            iconPos="left"
            (click)="getAllBooks()"
          ></p-button>
        </div>

      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 40px;"></th>
        <th style="width: 40px;"></th>
        <th pSortableColumn="bookName">Title <p-sortIcon field="bookName"></p-sortIcon>
        </th>
        <th pSortableColumn="authorName">Author <p-sortIcon field="authorName"></p-sortIcon>
        </th>
        <th pSortableColumn="totalPage">Page Count <p-sortIcon field="totalPage"></p-sortIcon>
        </th>
        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th style="width: 40px;"></th>
        <th style="width: 40px;"></th>
        <th>
          <input
            pInputText
            type="text"
            (input)="dt.filter($event.target.value, 'bookName', 'startsWith')"
            placeholder="Search by Title"
            class="form-control"
          >
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="dt.filter($event.target.value, 'authorName', 'startsWith')"
            placeholder="Search by Author"
            class="form-control"
          >
        </th>
        <th>
          <input
            pInputText
            type="number"
            (input)="dt.filter($event.target.value, 'totalPage', 'startsWith')"
            placeholder="Search by Page Count"
            class="form-control"
          >
        </th>
        <th>
          <input
            pInputText
            type="number"
            (input)="dt.filter($event.target.value, 'price', 'startsWith')"
            placeholder="Search by Price"
            class="form-control"
          >
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-book
    >
      <tr class="ui-selectable-row">
        <td style="width: 40px;"><i
            class="pi pi-pencil"
            title="Edit"
            (click)="showUpdateBookModal(book)"
          ></i></td>
        <td style="width: 40px;"><i
            class="pi pi-trash"
            title="Delete"
            (click)="showDeleteBookModal(book)"
          ></i></td>
        <td>{{book.bookName}}</td>
        <td>{{book.authorName}}</td>
        <td>{{book.totalPage}}</td>
        <td>{{book.price}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td
          colspan="12"
          style="text-align:center"
        >No book found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [header]="modalHeader"
  [(visible)]="modalDisplay"
  [style]="{width: '350px'}"
>
  <app-book-form></app-book-form>
</p-dialog>

<p-confirmDialog
  header="Delete"
  message="Are you want to delete?"
  icon="pi pi-question-circle"
></p-confirmDialog>
<p-toast position="top-center"></p-toast>
